<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div><br>
  <div>Airport: </div>
  <div><%= flight.airport %></div><br>
  <div>Flight No: </div>
  <div><%= flight.flightNo %></div><br>
  <div>Departs: </div>
  <div><%= flight.departs %></div><br>
  <div>Arrives:</div>
  <% flight.destinations.forEach(function(d) { %>
    <tr>
        <td><%= d.airport %></td>
        <td><%= d.arrival %></td>
    </tr>
    <% }); %>
</section>

<h2>ADD YOUR DESTINATION</h2>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Destination Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Arrival Date:
        <input type="datetime-local" name="arrival">
    </label><br>
    <input type="submit" value="Add Arrival Information">
</form>

<%- include('../partials/footer') %>
